body{
    background-color: midnightblue;
    text-align: center;
}

h1{
    color: rgb(255, 157, 9);
}

h2{
    color: salmon;
}

h3{
    color: burlywood;
}

#cold{
    color: lightblue;
}

#cash{
    color: green;
}

img{
    width: 40vw;
    max-width: 400px;
}
